.CurrentConditions {
  margin: 0 auto;
  letter-spacing: 0.5px;
}

.CurrentConditions ul {
  list-style: none;
}

.CurrentConditions .WeatherTemp .temperature {
  font-size: 60px;
  position: relative;
  top: -20px;
  right: -16px;
}

.CurrentConditions .WeatherTemp .unit {
  position: relative;
  top: -50px;
  right: -20px;
  margin-left: 6px;
}

.CurrentConditions .Conditions {
  position: relative;
  top: 12px;
}

@media (max-width: 767px) {
  .CurrentConditions {
    margin: -5px -10px 0px 6px;
  }

  .CurrentConditions .WeatherIcon {
    position: relative;
    left: -12px;
  }
  .CurrentConditions .WeatherTemp .temperature {
    font-size: 42px;
    position: relative;
    top: -77px;
    right: -70px;
  }
  .CurrentConditions .WeatherTemp .unit {
    position: relative;
    top: -96px;
    right: -70px;
    margin-left: 6px;
  }

  .CurrentConditions .Conditions {
    position: relative;
    top: 12px;
  }
}
