.App {
  font-family: sans-serif;
  max-width: 768px;
  display: block;
  margin: 30px auto;
}

.App .appContainer {
  padding: 20px;
  border: 1px solid lightgray;
  color: #353535;
}

.App .heading {
  margin: 20px 0;
}

.App h1 {
  font-size: 40px;
}

.App p {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.App footer {
  padding-top: 10px;
}
