.CurrentConditions {
  margin: 0 auto;
  letter-spacing: 0.5px;
}

.CurrentConditions ul {
  list-style: none;
}

.CurrentConditions .WeatherTemp .temperature {
  font-size: 60px;
  position: relative;
  top: -20px;
  right: -16px;
}

.CurrentConditions .WeatherTemp .units {
  position: relative;
  top: -55px;
  right: -20px;
  margin-left: 6px;
}
