.CurrentConditions {
  margin-bottom: 20px;
}

.CurrentConditions .currentIcon {
  height: 75px;
  display: inline-block;
  position: relative;
  top: -15px;
}

.CurrentConditions .temperature {
  font-size: 60px;
}

.CurrentConditions .units {
  position: relative;
  top: -30px;
  margin-left: 6px;
}

.CurrentConditions ul {
  list-style: none;
}
