.Forecast .fiveDayForecast {
  text-align: center;
  padding: 15px;
}

.Forecast .cardTitle {
  font-size: 20px;
}

.Forecast .forecastIcon {
  font-size: 35px;
}

.Forecast .cardText {
  font-size: 20px;
}
