.Forecast .fiveDayForecast {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.Forecast .ForecastDayName {
  font-size: 20px;
  margin-bottom: 8px;
}

.Forecast .forecastTemperatures {
  font-size: 20px;
  margin-top: 8px;
}

.Forecast .forecastTemperatureMin {
  opacity: 0.6;
  margin-left: 5px;
}
