.Weather .heading {
  margin: 20px;
}

.Weather h1 {
  font-family: "Bungee", cursive;
  font-size: 42px;
  letter-spacing: 1px;
}

.Weather .headingBody {
  margin: 10px 0 30px;
  letter-spacing: 0.25px;
}

.Weather form {
  text-align: center;
  margin-bottom: 25px;
}

.Weather .search-box {
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid lightgray;
  color: rgba(0, 0, 0, 0.6);
}

.Weather .btn-search {
  font-size: 16px;
  letter-spacing: 0.5px;
  background: #f95959;
  color: #e3e3e3;
  transition: all 150ms ease-in-out;
}

.Weather .btn-search:hover {
  background: #233142;
  color: #e3e3e3;
}

@media (max-width: 575px) {
  .Weather .heading {
    margin-left: 12px;
  }

  .Weather h1 {
    font-size: 36px;
  }

  .Weather .cityLength {
    font-size: 32px;
    word-wrap: break-word;
  }

  .Weather .headingBody {
    margin: 0px 0px 0px 2px;
  }

  .Weather form {
    margin-bottom: 0px;
  }

  .Weather .search-box {
    font-size: 14px;
  }

  .Weather .btn-search {
    font-size: 22px;
    padding: 0px;
  }
}
